{{ if eq .Params.image "" }}
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{ .Description | markdownify }}</h5>
            <h5 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h5>
            <p class="card-text">{{ .Content }}</p>
        </div>
    </div>
</div> 


{{ else }}
<div class="col mb-4">
    <div class="card h-100">
        <div class="row m-2">
            <div class="col-md-5">
                <img class="mt-3" src="{{ .Params.image }}" class="img-fluid rounded-start" style="width:100%">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">{{ .Description | markdownify }}</h5>
                    <h5 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h5>
                    <p class="card-text">{{ .Content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}